{% extends "base.html" %}

{% block body %}


<form action="/createListing" method="POST" enctype="multipart/form-data">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills mr-auto mt-2 mt-lg-0">
      <li class="mx-auto nav-item">
        <h3 class="nav-item">Create A Listing</h3>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col">
      <br>
      <div class="input-group my-3 mx-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Listing Title: </span>
        </div>
        <input name="title" type="text" class="form-control" placeholder="TItle" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group my-3 mx-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Listing Type: </span>
        </div>
        <select name="category" class="form-control">
          <option>Football</option>
          <option>Lacrosse</option>
          <option>Hockey</option>
          <option>Baseball</option>
          <option>Apparel</option>
          <option>Skiing</option>
          <option>Snowboarding</option>
          <option>Softball</option>
          <option>Soccer</option>
          <option>Footwear</option>
          <option>Tennis</option>
          <option>Hiking</option>
          <option>Fishing</option>
          <option>Other</option>
        </select>
      </div>

      <div class="input-group my-3 mx-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Description</span>
        </div>
        <textarea name="description" class="form-control" aria-label="With textarea"></textarea>
      </div>
      <div class="input-group my-3 mx-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" accept="image/*" name="image" id="file" onchange="loadFile(event)">
          <label id="inputLabel" class="custom-file-label" for="inputGroupFile01">Choose image</label>
        </div>
      </div>


      <div class="input-group my-3 mx-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Asking Price: </span>
        </div>
        <input name="price" class="form-control" placeholder="00.00" aria-label="Price" aria-describedby="basic-addon1">
      </div>


    </div>
    <div class="col">
      <img id="imagefile" src="static/images/index.png" class="img-fluid w-75 mx-auto my-5 rounded" style="height:300px"> </img>
    </div>
  </div>

  <div class="border"></div>
<script type="text/javascript" src="//maps.google.com/maps/api/js?key={{key}}"></script>
  <script>
    var loadFile = function(event) {
      var image = document.getElementById('imagefile');
      image.src = URL.createObjectURL(event.target.files[0]);
      const file = event.target.files[0];
      console.log(event.target.files[0]);
      var label = document.getElementById("inputLabel");
      label.innerHTML = event.target.files[0]['name'];
    };


    // This example adds a search box to a map, using the Google Place Autocomplete
    // feature. People can enter geographical searches. The search box will return a
    // pick list containing a mix of places and predicted search terms.

    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    var promiseMade;
    var position = "{{location}}";
    console.log(position);

    function validateAddress(address) {
      if (position == "None"){
        return false;
      }
      if (address[0] == "{"){
        return true;
      }
      promiseMade = true;
      return new Promise(function(resolve, reject) {
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({
          address: address
        }, function(results, error) {
          if (error != "OK") {
            return resolve(false);
          }
          return resolve(true);
        });
      });
    }

  (function(w, google) {

    var validLoc = validateAddress(position);
    if (promiseMade){
      validLoc.then(function(result){
        console.log(result);
        if (result == false){
          window.location = "/profile?mType=2";
        }
    });
  } else {
    console.log(validLoc);
    if (!validLoc){
      window.location = "/profile?mType=2";
    }
  }
})(window, google);
  </script>

  <div class="row">
    <button type="submit" class="btn btn-outline-primary w-25 mx-auto my-5"> Create Listing</button>
  </div>

</form>




{% endblock %}
