{% extends "base.html" %}
{% block body %}
<h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
<div id="mydiv" class="message_holder" style="overflow-y:scroll; height:300px;"></div>

<form action="" method="POST">
  <input type="text" class="message" placeholder="Messages"/>
  <input type="submit"/>
</form>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript">
  let socket = io.connect('http://' + document.domain + ':' + location.port);
  let my_room = {{ room|safe }} + "";
  let my_username = {{ myusername|safe }} + "";
  let their_username = {{ username2|safe }} + "";
  let history = JSON.parse({{ hist|safe }});
  for (message in history.messages){
      el = history.messages[message];
      $( 'div.message_holder' ).append( '<div><b style="color: #000">'+el.fromUser+'</b> '+el.content+'</div>' )
  }
  $("#mydiv").scrollTop($("#mydiv")[0].scrollHeight);
  console.log(history.messages);
  socket.on( 'connect', function() {
      socket.emit('join',{
	  username: my_username,
	  room: my_room
      })
      var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
	  let currentDate = new Date();
	  let date = currentDate.getDate();
	  let month = currentDate.getMonth(); 
	  let year = currentDate.getFullYear();
	  let hour = currentDate.getHours();
	  let minutes = currentDate.getMinutes();
	  let seconds = currentDate.getSeconds();
	  let mili = currentDate.getMilliseconds();
	  var dateString = year + "-" +(month + 1) + "-" + date + " " + hour + ":" + minutes + ":" + seconds + "." + mili;
          let user_input = $( 'input.message' ).val()
          socket.emit( 'my event', {
              user_name : my_username,
	      other_user : their_username,
              message : user_input,
	      room: my_room,
	      time:dateString
          } )
          $( 'input.message' ).val( '' ).focus()
      } )
  } )
  socket.on( 'my response', function( msg ) {
      if( typeof msg.user_name !== 'undefined'){ 
	  console.log(msg['user_name']);
          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
	  $("#mydiv").scrollTop($("#mydiv")[0].scrollHeight);
      }
  })
  </script>
{% endblock %}
