{% extends "base.html" %}

{% block body %}
<br>
<br>
<form action="/register" method="POST">
  <br>
  <br>
  <div class="row w-75 mx-auto">
    <div class='col-2'>
    </div>

    <div class="col-8">
      <div class="row w-100 mx-auto">
        <label class="form-check-label mt-2" for="username"> Username: </label>
        <input id="username" class="input-group w-50 rounded mx-auto my-2" type="text" name="username" required>
      </div>
      <br>
      <div class="row w-100 mx-auto">
        <label class="form-check-label" for="password"> Password: </label>
        <input id="password" class="input-group w-50 rounded mx-auto my-2" type="password" name="password" required> <br>
      </div>
      <br>
      <div class="row w-100 mx-auto">
        <label class="form-check-label" for="password-repeat"> Confirm Password: </label>
        <input id="password-repeat" class="input-group w-50 rounded mx-5" type="password" name="password-repeat" required> <br>
      </div>
    </div>
    <div class="col-2 mx-auto">
      <br>
      <br>
      <button class="btn btn-outline-success px-2" type="submit" value = "Submit">Create Account</button>
    </div>
  </div>
  <br>
</form>

<br>
<br>
<br>
<br>



{% endblock %}
