{% extends "base.html" %}
{% block behead %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block head%}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
<link href="../static/css/message.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
  <h3 class=" text-center">Messaging</h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
	    <h4>Recent</h4>
          </div>
          <div class="srch_bar">
	    <div class="stylish-input-group">
              <input type="text" class="search-bar"  placeholder="Search" >
              <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
            </span> </div>
          </div>
        </div>
        <div class="inbox_chat">
          <div class="chat_list active_chat">
	    <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions 
                  astrology under one roof.</p>
              </div>
	    </div>
          </div>
          <div class="chat_list">
	    <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions 
                  astrology under one roof.</p>
              </div>
	    </div>
          </div>
          <div class="chat_list">
	    <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions 
                  astrology under one roof.</p>
              </div>
	    </div>
          </div>
          <div class="chat_list">
	    <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions 
                  astrology under one roof.</p>
              </div>
	    </div>
          </div>
          <div class="chat_list">
	    <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions 
                  astrology under one roof.</p>
              </div>
	    </div>
          </div>
          <div class="chat_list">
	    <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions 
                  astrology under one roof.</p>
              </div>
	    </div>
          </div>
          <div class="chat_list">
	    <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions 
                  astrology under one roof.</p>
              </div>
	    </div>
          </div>
        </div>
      </div>
      <div class="mesgs">
        <div class="msg_history">
          <div class="incoming_msg">
	    <div class="received_msg">
              <div class="received_withd_msg">
                <p>Test which is a new approach to have all
                  solutions</p>
                <span class="time_date"> 11:01 AM    |    June 9</span></div>
	    </div>
          </div>
          <div class="outgoing_msg">
	    <div class="sent_msg">
              <p>Test which is a new approach to have all
                solutions</p>
              <span class="time_date"> 11:01 AM    |    June 9</span> </div>
          </div>
          <div class="incoming_msg">
	    <div class="received_msg">
              <div class="received_withd_msg">
                <p>Test, which is a new approach to have</p>
                <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
	    </div>
          </div>
          <div class="outgoing_msg">
	    <div class="sent_msg">
              <p>Apollo University, Delhi, India Test</p>
              <span class="time_date"> 11:01 AM    |    Today</span> </div>
          </div>
          <div class="incoming_msg">
	    <div class="received_msg">
              <div class="received_withd_msg">
                <p>We work directly with our designers and suppliers,
                  and sell direct to you, which means quality, exclusive
                  products, at a price anyone can afford.</p>
                <span class="time_date"> 11:01 AM    |    Today</span></div>
	    </div>
          </div>
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
	    <input type="text" class="write_msg" placeholder="Type a message">
	    <button id="sendmessage" class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript">
  /*
  let socket = io.connect('http://' + document.domain + ':' + location.port);
  let my_room = {{ room|safe }} + "";
  let my_username = {{ myusername|safe }} + "";
  let their_username = {{ username2|safe }} + "";
  let history = JSON.parse({{ hist|safe }});
  for (message in history.messages){
      el = history.messages[message];
      $( 'div.message_holder' ).append( '<div><b style="color: #000">'+el.fromUser+'</b> '+el.content+'</div>' )
  }
  $("#mydiv").scrollTop($("#mydiv")[0].scrollHeight);
  console.log(history.messages);*/


  /*
  socket.on( 'connect', function() {
      socket.emit('join',{
	  username: my_username,
	  room: my_room
      })
      var form = $( '#sendmessage' ).on( 'click', function( e ) {
          e.preventDefault()
	  let currentDate = new Date();
	  let date = currentDate.getDate();
	  let month = currentDate.getMonth(); 
	  let year = currentDate.getFullYear();
	  let hour = currentDate.getHours();
	  let minutes = currentDate.getMinutes();
	  let seconds = currentDate.getSeconds();
	  let mili = currentDate.getMilliseconds();
	  var dateString = year + "-" +(month + 1) + "-" + date + " " + hour + ":" + minutes + ":" + seconds + "." + mili;
          let user_input = $( 'input.write_msg' ).val()
          socket.emit( 'my event', {
              user_name : my_username,
	      other_user : their_username,
              message : user_input,
	      room: my_room,
	      time:dateString
              } )
	  let user_input = $( 'input.write_msg' ).val()

          $( 'input.write_msg' ).val( '' ).focus()
      } )
  } )
  socket.on( 'my response', function( msg ) {
      if( typeof msg.user_name !== 'undefined'){ 
	  console.log(msg['user_name']);
          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
	  $("#mydiv").scrollTop($("#mydiv")[0].scrollHeight);
      }
      })*/
  $('#sendmessage').click(function( e ) {
      let user_input = $( 'input.write_msg' ).val()
      $( 'input.write_msg' ).val( '' ).focus()
 
      $( 'div.msg_history' ).append( '<div class="incoming_msg"><div class="received_msg"><div class="received_withd_msg"><p>' + user_input + '</p><span class="time_date"> 11:01 AM    |    June 9</span></div></div></div>');
   })
   
    </script>
{% endblock %}
