{% extends "base.html" %}

{% block body %}
<div class="border"></div>

<div class="input-group my-3 mx-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Contact Info: </span>
  </div>
  <input name="contact" class="form-control" placeholder="Phone Number, Email, etc." aria-label="Price" aria-describedby="basic-addon1">
</div>

<div class="row">
  <h3 class="mx-auto my-3"> Update Your Location </h3>
  <div class="input-group mt-5 mx-5">
    <div class="input-group-prepend">
      <span class="input-group-text">Address or Area: </span>
    </div>
    <input name="location" id="pac-input" type="text" class="form-control" placeholder="If left empty, will assume current location" aria-label="Username" aria-describedby="basic-addon1">
  </div>


  <style>
    /* Always set the map height explicitly to define the size of the div
                   * element that contains the map. */
    #map {
      height: 400px;
    }
  </style>

  <div class="mx-auto w-50 my-5 rounded" id="map"></div>

  <script src="https://maps.googleapis.com/maps/api/js?key={{ key }}&libraries=places&callback=initAutocomplete" async defer></script>

</div>
<div class="row">
  <button onclick="confirmLocation()" class="btn btn-outline-primary w-25 mx-auto my-5 text-primary"> Confirm Location</button>
</div>

<div class="border"></div>

{% endblock %}
